# Ignore backup files
*.bak

# Ignore compiled executables
main
array_iterator
holberton_test
b
int_index_test

# Ignore temporary files
.processed_files

# Ignore other source files except 3-op_functions
*.c
*.h
